# NBA-Salary-Analysis

# Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Functions

In [11]:
def check_for_nulls_dupes(df):
  print(f"The amount of Null Values: {df.isna().sum()}")
  print(f"The amount of Duplicated Values {df.duplicated().sum()}")

# NBA 2022-2023 Season

#### Nba Champion = Nuggets

## East Stanings:

- Bucks
- Celtics
- 76ers
- Cavaliers
- Knicks
- Nets
- Hawks
- Heat
- Raptors
- Bulls
- Pacers
- Wizards
- Magic
- Hornets
- Pistons

## West Stanings:

- Nuggets
- Grizzlies
- Kings
- Suns
- Clippers
- Warriors
- Lakers
- Timberwolves
- Pelicans
- Thunder
- Mavericks
- Jazz
- Trail Blazers
- Rockets
- Spurs

# EDA Analysis

In [7]:
player_salary = pd.read_csv("/Users/maukanmir/Downloads/archive/nba_salaries.csv")
team_salary = pd.read_csv("/Users/maukanmir/Downloads/archive/nba-team-salary.csv")

In [8]:
player_salary

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,Justin Minaya,35096,SF,23,POR,4,0,22.3,1.8,...,0.8,3.0,3.8,1.0,0.5,1.3,1.0,2.3,4.3,minayju01
463,463,Kobi Simmons,32795,SG,25,CHO,5,0,5.6,0.2,...,0.2,0.6,0.8,1.0,0.0,0.4,0.2,0.0,1.0,simmoko01
464,464,Gabe York,32171,SG,29,IND,3,0,18.7,2.7,...,0.0,2.0,2.0,1.7,0.7,0.0,0.0,1.7,8.0,yorkga01
465,465,RaiQuan Gray,5849,PF,23,BRK,1,0,35.0,6.0,...,3.0,6.0,9.0,7.0,0.0,1.0,4.0,5.0,16.0,grayra01
466,466,Jacob Gilyard,5849,PG,24,MEM,1,0,41.0,1.0,...,0.0,4.0,4.0,7.0,3.0,0.0,2.0,3.0,3.0,gilyaja01

# Check For Nulls and Dupes

In [12]:
check_for_nulls_dupes(player_salary)

The amount of Null Values: Unnamed: 0            0
Player Name           0
Salary                0
Position              0
Age                   0
Team                  0
GP                    0
GS                    0
MP                    0
FG                    0
FGA                   0
FG%                   1
3P                    0
3PA                   0
3P%                  13
2P                    0
2PA                   0
2P%                   4
eFG%                  1
FT                    0
FTA                   0
FT%                  23
ORB                   0
DRB                   0
TRB                   0
AST                   0
STL                   0
BLK                   0
TOV                   0
PF                    0
PTS                   0
Player-additional     0
dtype: int64
The amount of Duplicated Values 0

In [13]:
player_salary[player_salary["FT%"].isna()]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
221,221,Dylan Windler,4037277,SF,26,CLE,3,0,3.3,0.7,...,0.0,0.0,0.0,0.3,0.3,0.0,0.3,0.0,1.7,windldy01
247,247,Sterling Brown,3122602,SF,27,LAL,4,0,6.0,0.0,...,0.8,1.3,2.0,0.5,0.8,0.0,0.0,1.0,0.0,brownst02
254,254,Joe Wieskamp,2909261,SF,23,TOR,9,0,5.6,0.3,...,0.0,0.4,0.4,0.3,0.0,0.0,0.1,0.3,1.0,wieskjo01
344,344,Ryan Arcidiacono,1836090,PG,28,NYK/POR,20,4,8.6,0.5,...,0.0,0.8,0.8,1.2,0.3,0.0,0.4,0.9,1.3,arcidry01
356,356,Leandro Bolmaro,1709300,SF,22,UTA,14,0,4.9,0.2,...,0.3,0.2,0.5,0.5,0.2,0.1,0.5,0.7,0.4,bolmale01
358,358,Jared Butler,1674655,PG,22,OKC,6,1,12.8,2.5,...,0.2,0.5,0.7,1.3,0.8,0.0,0.8,0.8,6.2,butleja02
393,393,Justin Champagnie,853241,SF,21,BOS/TOR,5,0,6.8,1.0,...,0.6,1.0,1.6,0.8,0.2,0.0,0.0,0.4,2.2,champju01
397,397,PJ Dozier,784654,SF,26,SAC,16,0,4.9,0.6,...,0.1,0.8,0.9,0.6,0.4,0.1,0.3,0.4,1.4,doziepj01
403,403,Trevor Keels,520589,SG,19,NYK,3,0,2.7,0.3,...,0.0,0.7,0.7,0.0,0.0,0.0,0.0,0.0,1.0,keelstr01
404,404,Dereon Seabron,511816,SG,22,NOP,5,0,2.4,0.4,...,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.8,seabrde01
408,408,Malcolm Hill,508891,SF,27,CHI,5,0,1.8,0.4,...,0.0,0.6,0.6,0.0,0.0,0.0,0.0,0.2,1.0,hillma01
416,416,Cole Swider,508891,SF,23,LAL,7,0,5.9,0.4,...,0.1,0.9,1.0,0.6,0.0,0.0,0.0,0.4,1.3,swideco01
425,425,Micah Potter,508891,PF,24,UTA,7,0,7.4,1.4,...,0.4,1.9,2.3,0.6,0.1,0.0,0.3,0.7,3.4,pottemi01
436,436,Alondes Williams,254446,SG,23,BRK,1,0,5.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,willial06
437,437,Donovan Williams,239822,SG,21,ATL,2,0,2.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,willido02
439,439,Chris Silva,211045,PF,26,DAL,1,0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,silvach01
440,440,Tyler Dorsey,201802,SF,26,DAL,3,0,2.7,1.3,...,0.3,0.3,0.7,0.0,0.0,0.0,0.0,0.0,3.0,dorsety01
444,444,Devon Dotson,169630,PG,23,WAS,6,0,8.8,0.2,...,1.0,0.7,1.7,1.3,0.8,0.0,0.5,1.5,0.5,dotsode01
449,449,Xavier Moon,116986,SG,28,LAC,4,0,5.0,0.8,...,0.0,0.8,0.8,1.3,0.0,0.0,0.3,0.5,1.8,moonxa01
453,453,Frank Jackson,113114,PG,24,UTA,1,0,5.0,0.0,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,jacksfr01
454,454,Deonte Burton,105522,PF,29,SAC,2,0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,burtode02
458,458,Jordan Schakel,96514,SF,24,WAS,2,0,3.0,0.5,...,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.5,1.5,schakjo01
466,466,Jacob Gilyard,5849,PG,24,MEM,1,0,41.0,1.0,...,0.0,4.0,4.0,7.0,3.0,0.0,2.0,3.0,3.0,gilyaja01

In [14]:
player_salary[player_salary["3P%"].isna()]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
75,75,Mitchell Robinson,17045454,C,24,NYK,59,58,27.0,3.2,...,4.5,4.9,9.4,0.9,0.9,1.8,0.7,2.7,7.4,robinmi01
133,133,Mason Plumlee,9080417,C,32,LAC/CHO,79,60,26.0,4.2,...,2.9,6.0,8.9,3.1,0.6,0.6,1.5,2.7,10.8,plumlma01
233,233,Mark Williams,3722040,C,21,CHO,43,17,19.3,3.7,...,2.2,4.9,7.1,0.4,0.7,1.0,0.9,2.2,9.0,willima07
264,264,Bismack Biyombo,2905851,C,30,PHO,61,14,14.3,2.0,...,1.5,2.8,4.3,0.9,0.3,1.4,0.8,1.9,4.3,biyombi01
301,301,Udoka Azubuike,2174880,C,23,UTA,36,4,10.0,1.6,...,0.9,2.4,3.3,0.3,0.2,0.4,0.5,0.9,3.5,azubuud01
332,332,Daniel Gafford,1930681,C,24,WAS,78,47,20.6,3.7,...,2.1,3.5,5.6,1.1,0.4,1.3,1.1,2.4,9.0,gaffoda01
395,395,Moses Brown,824041,C,23,BRK/LAC,36,1,8.2,1.7,...,1.6,2.3,3.9,0.1,0.1,0.4,0.4,1.1,4.3,brownmo01
404,404,Dereon Seabron,511816,SG,22,NOP,5,0,2.4,0.4,...,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.8,seabrde01
421,421,Neemias Queta,508891,C,23,SAC,5,0,5.8,1.2,...,1.0,1.2,2.2,0.2,0.0,0.4,0.2,1.4,2.4,quetane01
428,428,Chima Moneke,500000,SF,27,SAC,2,0,4.0,0.5,...,1.0,0.0,1.0,0.5,0.0,0.0,1.0,1.0,1.0,monekch01
436,436,Alondes Williams,254446,SG,23,BRK,1,0,5.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,willial06
439,439,Chris Silva,211045,PF,26,DAL,1,0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,silvach01
441,441,Braxton Key,201802,SF,25,DET,3,0,3.0,0.3,...,0.0,0.3,0.3,0.0,0.0,0.0,0.0,0.0,1.3,keybr01

In [15]:
player_salary[player_salary["eFG%"].isna()]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
436,436,Alondes Williams,254446,SG,23,BRK,1,0,5.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,willial06

In [18]:
top_twenty_five = player_salary.sort_values(by="Salary", ascending=False).head(25)

In [19]:
player_salary.dtypes

Unnamed: 0             int64
Player Name           object
Salary                 int64
Position              object
Age                    int64
Team                  object
GP                     int64
GS                     int64
MP                   float64
FG                   float64
FGA                  float64
FG%                  float64
3P                   float64
3PA                  float64
3P%                  float64
2P                   float64
2PA                  float64
2P%                  float64
eFG%                 float64
FT                   float64
FTA                  float64
FT%                  float64
ORB                  float64
DRB                  float64
TRB                  float64
AST                  float64
STL                  float64
BLK                  float64
TOV                  float64
PF                   float64
PTS                  float64
Player-additional     object
dtype: object

In [21]:
player_salary.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,467.0,2.330000e+02,1.349555e+02,0.0,1.165000e+02,2.330000e+02,3.495000e+02,466.0
Salary,467.0,8.416599e+06,1.070812e+07,5849.0,1.782621e+06,3.722040e+06,1.063354e+07,48070014.0
Age,467.0,2.582013e+01,4.275113e+00,19.0,2.300000e+01,2.500000e+01,2.900000e+01,42.0
GP,467.0,4.823340e+01,2.480774e+01,1.0,3.100000e+01,5.500000e+01,6.850000e+01,83.0
GS,467.0,2.265096e+01,2.709458e+01,0.0,1.000000e+00,8.000000e+00,4.550000e+01,83.0
MP,467.0,1.987131e+01,9.548684e+00,1.8,1.250000e+01,1.920000e+01,2.830000e+01,41.0
FG,467.0,3.351392e+00,2.457836e+00,0.0,1.600000e+00,2.700000e+00,4.300000e+00,11.2
FGA,467.0,7.117773e+00,5.020700e+00,0.0,3.300000e+00,5.800000e+00,9.400000e+00,22.2
FG%,466.0,4.650086e-01,1.095467e-01,0.0,4.170000e-01,4.550000e-01,5.075000e-01,1.0
3P,467.0,9.965739e-01,8.804682e-01,0.0,3.000000e-01,8.000000e-01,1.500000e+00,4.9
3PA,467.0,2.792719e+00,2.260794e+00,0.0,1.000000e+00,2.400000e+00,4.150000e+00,11.4
3P%,454.0,3.250903e-01,1.316243e-01,0.0,2.880000e-01,3.445000e-01,3.870000e-01,1.0
2P,467.0,2.356531e+00,1.989397e+00,0.0,9.000000e-01,1.700000e+00,3.300000e+00,10.5
2PA,467.0,4.325268e+00,3.571280e+00,0.0,1.800000e+00,3.200000e+00,5.850000e+00,17.8
2P%,463.0,5.334644e-01,1.360463e-01,0.0,4.870000e-01,5.370000e-01,5.945000e-01,1.0
eFG%,466.0,5.342661e-01,1.045845e-01,0.0,4.937500e-01,5.375000e-01,5.780000e-01,1.0
FT,467.0,1.435546e+00,1.568500e+00,0.0,5.000000e-01,9.000000e-01,1.850000e+00,10.0
FTA,467.0,1.848394e+00,1.896352e+00,0.0,6.000000e-01,1.200000e+00,2.350000e+00,12.3
FT%,444.0,7.534887e-01,1.486591e-01,0.0,6.910000e-01,7.690000e-01,8.440000e-01,1.0
ORB,467.0,8.668094e-01,7.469761e-01,0.0,4.000000e-01,7.000000e-01,1.100000e+00,5.1
DRB,467.0,2.662099e+00,1.707984e+00,0.0,1.400000e+00,2.300000e+00,3.500000e+00,9.6
TRB,467.0,3.528051e+00,2.277160e+00,0.0,1.900000e+00,3.000000e+00,4.500000e+00,12.5
AST,467.0,2.107709e+00,1.957517e+00,0.0,8.000000e-01,1.400000e+00,2.900000e+00,10.7
STL,467.0,6.104925e-01,3.990831e-01,0.0,3.000000e-01,6.000000e-01,8.000000e-01,3.0
BLK,467.0,3.790150e-01,3.643866e-01,0.0,1.000000e-01,3.000000e-01,5.000000e-01,2.5
TOV,467.0,1.114133e+00,8.300508e-01,0.0,5.000000e-01,9.000000e-01,1.500000e+00,4.1
PF,467.0,1.702784e+00,7.769567e-01,0.0,1.200000e+00,1.700000e+00,2.200000e+00,5.0
PTS,467.0,9.129979e+00,6.906006e+00,0.0,4.100000e+00,7.100000e+00,1.170000e+01,33.1

In [22]:
player_salary.drop("Unnamed: 0", axis=1, inplace=True)